/*
   Author: Tomek Woźniak
   Version: 1.0
 */

/* Main */
.root {
    -fx-font-family: Cambria;
    -fx-font-size: 12px;
    -fx-background-color: rgba(232, 238, 241, 1.0);
}

/* Info panel */
.pane-info {
    -fx-background-color: rgba(232, 238, 241, 1.0);
    -fx-focus-color: rgba(5, 125, 205, 1.0);
}

.pane-report {
    -fx-background-color: rgba(208, 220, 226, 0.75);
    -fx-focus-color: rgba(5, 125, 205, 1.0);
}

/* Header */
.menu-bar {
    -fx-background-color: rgba(30, 61, 88, 1.0);
}

.menu-bar .label {
    -fx-font-size: 14px;
    -fx-text-fill: rgba(255, 255, 255, 1.0);
}

.menu-bar .container .menu-button:hover, .menu-bar .container .menu-button:showing, .menu-bar .container .menu-button:focused {
    -fx-background-color: rgba(5, 125, 205, 1.0);
}

.menu-bar .menu-item {
    -fx-background-color: white;
}

.menu-bar .menu-item .label {
    -fx-text-fill: rgba(30, 61, 88, 1.0);
}

.menu-bar .menu-item:hover {
    -fx-background-color: rgba(5, 125, 205, 1.0);
}

.menu-bar .menu-item:hover .label {
    -fx-text-fill: rgba(255, 255, 255, 1.0);
}

.pane-header {
    -fx-background-color: rgba(30, 61, 88, 1.0);
}

.pane-header > Text {
    -fx-font-size: 14px;
    -fx-fill: rgba(255, 255, 255, 1.0);
}

/* Text status */
.status {
    -fx-font-weight: bold;
}

/* Report console */
.pane-console {
    -fx-font-family: Consolas;
    -fx-font-size: 12px;
    -fx-padding: 16px 4px 4px 16px;
}

/* Controls */
.choice-box .menu-item:focused {
    -fx-background-color: rgba(5, 125, 205, 1.0);
}

/* Controls error classes */
.error {
    -fx-border-color: rgba(223, 12, 18, 1.0);
}

/* Chart */
.chart-symbol {
    -fx-shape: "M5,0 L10,9 L5,18 L0,9 Z";
    -fx-background-color: rgba(5, 125, 205, 1.0);
    -fx-padding: 6px;
}